body {
  background-image: url('https://source.unsplash.com/category/nature/1600x900');
}

/** {
  border: 2px solid yellow;
}*/

.widget {
  background-color: rgba(160, 160, 160, 0.7);
  /*border: 2px solid black;*/
  border-radius: 15px;
}

 .navbar-inverse .navbar-brand{
  /*color: red;*/
}
