body {
  background-color: darkgrey;
  background-image: url('https://source.unsplash.com/category/nature/1600x900');
}

.widget {
  background-color: #404040;
  background-color: rgba(64, 64, 64, 0.8);
  /*border: 1px solid black;*/
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(64, 64, 64, 0.8);
  padding: 15px;
  margin-top: 4px;
  color: #f8f8f8;
  text-align: center;
}

.widget  ul {
  list-style: none;

}

.top-row {
  height: 45%;
}

.bottom-row {
  height: 45%;
}
